<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
        <testsuite name="unit-validators">
            <directory suffix="Test.php">tests/Unit/Validators/</directory>
        </testsuite>
        <testsuite name="unit-parsers">
            <directory suffix="Test.php">tests/Unit/Parsers/</directory>
        </testsuite>
        <testsuite name="unit-nodes">
            <directory suffix="Test.php">tests/Unit/Nodes/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/Integration/</directory>
        </testsuite>
        <testsuite name="all">
            <directory suffix="Test.php">tests/Integration/</directory>
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
